.navbar {
  background-color: #1F2022;
}
 .navbartext {
  color: white;
  font-size: 48px;
 }

.bgbody {
    margin: 0;
    padding-top: 50px;
}

.image-grid {
   --num-cols: 10;
   box-sizing: border-box;
   display: grid;
   grid-template-columns: repeat(var(--num-cols), 1fr);
   grid-auto-rows: var(--row-height);
} 

.img {
   margin: 100%;
}

.image-grid > img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.image-grid-col-img1 {
   grid-column: span 7;
}

.image-grid-row-img1 {
   grid-row: span 7;
}

.image-grid-col-img2 {
   grid-column: span 3;
}

.image-grid-row-img2 {
   grid-row: span 3;
}

.image-grid-col-img3 {
   grid-column: span 3;
}

.image-grid-row-img3 {
   grid-row: span 3;
}

@media screen and (max-width: 1024px) {
   .image-grid {
      --num-cols: 2;
      --row-height: 300px;
   }
}

 .cardForm {
  width: 300px;
  height: 400px;
}

.prodbg {
   background-color: rgb(59, 59, 59);
}

